.contact-container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 102px;
    color: white;
}
.response-message {
    margin-top: 10px;
    font-size: 1rem;
    color: #f39c12;
}

.contact-title {
    text-align: left;
    font-size: 2.5rem;
    color: #f39c12;
    margin-bottom: 20px;
    position: relative;
}

.contact-title::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: #f39c12;
    margin-top: 10px;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.contact-content {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.contact-info {
    flex: 1;
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: center;
}

.contact-info p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.contact-info a {
    color: #f39c12;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-info a:hover {
    color: #e67e22;
}

.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px 0 5px 0;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #ccc;
}

.contact-form button {
    padding: 10px 20px;
    background: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.3s;
    width: max-content;
}

.contact-form button:hover {
    background: #e67e22;
}
