.education-container {
    max-width: 100%;
    margin: 0 auto;
    color: white;
    min-height: 100vh;
}

.education-title {
    text-align: left;
    font-size: 2.5rem;
    color: #f39c12;
    margin-bottom: 20px;
    position: relative;
}

.education-title::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: #f39c12;
    margin-top: 10px;
    position: absolute;
    left: 0;
    bottom: -10px;
}


.education-timeline {
    position: relative;
    padding-left: 40px;
    border-left: 3px solid #f39c12;
}

.education-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 25px;
    margin-bottom: 40px;
    transform: translateY(20px);
    opacity: 0;
    animation: fadeInUp 0.8s forwards;
    position: relative;
    transition: transform 0.3s ease, background 0.3s ease;
}

.education-card:hover {
    transform: translateY(0);
    background: rgba(255, 255, 255, 0.2);
}

.education-card::before {
    content: '';
    position: absolute;
    left: -11px;
    top: 20px;
    width: 22px;
    height: 22px;
    background: #f39c12;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #1c1c1c;
}

.education-institution {
    font-size: 1.7rem;
    color: #f39c12;
    margin: 0 0 10px 0;
}

.education-degree {
    font-size: 1.3rem;
    color: #e67e22;
    margin: 0;
}

.education-duration {
    font-size: 1.1rem;
    color: #ddd;
    margin: 10px 0;
}

.education-description {
    font-size: 1.1rem;
    color: #eee;
    line-height: 1.6;
}

@keyframes fadeInUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
