.experience-container {
    max-width: 100%;
    margin: 0 auto;
    background: linear-gradient(135deg, #1e1e2f, #1c1c1c);
    color: white;
}

.experience-title {
    text-align: center;
    font-size: 2rem;
    color: #f39c12;
    margin-bottom: 40px;
    transition: color 0.3s ease;
}
.experience-title-container{
    text-align: left;
    font-size: 2.5rem;
    color: #f39c12;
    margin-bottom: 20px;
    position: relative;
}

.experience-title-container::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: #f39c12;
    margin-top: 10px;
    position: absolute;
    left: 0;
    bottom: -10px;
}
.experience-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    opacity: 0;
    animation: slideIn 0.8s forwards;
    transition: transform 0.3s ease, background 0.3s ease;
}

.experience-card:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.2);
}

.experience-card h3, .experience-card h4, .experience-card p {
    margin: 5px 0;
}

.experience-description h5 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #f39c12;
}

.experience-description ul {
    margin: 0;
    padding-left: 20px;
    list-style: none;
    position: relative;
}

.experience-description ul li {
    margin-bottom: 10px;
    padding-left: 10px;
    position: relative;
    color: #ddd;
}

.experience-description ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #f39c12;
}

button {
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e67e22;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
