.navbar {
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    margin: 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
}

.navbar a:hover {
    background-color: #555;
    color: #ddd;
    border-radius: 5px;
    transform: scale(1.1);
}

.navbar a.active {
    background-color: #666;
    color: #fff;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px 15px;
    }

    .navbar-toggle {
        display: block;
        font-size: 28px;
        color: #fff;
        cursor: pointer;
        position: absolute;
        right: 35px;
        z-index: 1100;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
        padding-top: 60px;
    }

    .navbar-menu.active {
        transform: translateX(0);
    }

    .navbar a {
        padding: 20px;
        font-size: 24px;
        text-align: center;
        color: #fff;
        border-bottom: 1px solid #444;
        transition: background-color 0.3s ease;
    }

    .navbar a:hover {
        background-color: #555;
    }

    .navbar a svg {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 20px;
    }
}
